<ul id="messages">

  <% if (chats.length > 0 ) { -%>
    <% for( let index = 0; index < chats.length; index++ ) { -%>
      <% let ele = chats[index]; -%>
      <% if (ele.username === username ) { -%>
        <li class="self">
      <% } else { -%>
        <li class="other">
      <% } -%>
      
        <span><%= ele.username %></span> : <%= ele.message %>
      </li>
  
    <% } -%>
  <% } -%>

</ul> 

<div id="msgs"></div>
