:root{
  --y: yellow;
  --chat-height : calc( 100vh - 7.5vh)
}

h1 {
  text-align: left;
  margin: 13px 28px;
}

body {
  margin: 0;
}

.chat-nav {
  background-color: #6f42c1;
  width: 20%;
  height: var(--chat-height) ;
  float: left;
  overflow: hidden;
}

.chat-nav-item{
  color: #d2d2d2;
  text-decoration-style: solid;
  font-weight:500 ;
  font-size: medium ;
  transition: background 0.6s;
}

.chat-nav-item:hover {
  /* background: black;
  color: #d2d2d2; */

  background: #533390;
  
  border-radius: 10px ;
}

#chat-message-display {
  background-color: rgb(195, 195, 227);
  width: 80%;
  height:  var(--chat-height) ;
  float: right;
}

.chat-main {
  display: none;
}

.chat-nav-body {
  background-color: brown;
}

#chat-nav-body ul {
  list-style: none;
  padding: 0;
}

#chat-nav-body li {
  padding: 15px 30px 15px;
}

/* .chat-nav-item {
  background: #333;
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

#chat-nav-body {
  overflow-y: auto;
  height: 100%;
}

/* .chat-search-input {
  padding-left: 25px;
  background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.m.wikipedia.org%2Fwiki%2FFile%3AMagnifying_glass_icon.svg&psig=AOvVaw1Gv8RckoG1K87ILqoqQCRL&ust=1682588792565000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCNDR_uuhx_4CFQAAAAAdAAAAABAE") no-repeat left white;
  background-size: 20px;
} */


.chat-nav input.chat-search-input {
  border-radius: 10px;
  border-style: none;
  padding: 2px 5px;
  /* height: 36px; */
  margin: 0 8% 3%;
  width: 85%;
  font-size: larger;
}

input.chat-search-input:focus {
  outline-style: none;
}

div .create-group {
  margin: 0px 29% 5px;
  background: #222532;
}

.chat-main-header {
  padding: 10px 0;
  margin: 0 0 15px;
  background: #9976da;
}

span.chat-main-title {
  font-size: larger;
  margin: 0 0 0 1%;
}

.chat-main-header > div{
  display: inline;
}

.group-btns {
  float: right;
}

div.group-btns > svg {

  margin: 0px 0px  5px  0px;
}

div.group-btns > svg {
  height: 25px;
  width: 30px;
  margin: 0px 0px 10px 20px;
}