:root{
  --y: yellow;
  --chat-height : calc( 100vh - 7.5vh)
}

h1 {
  text-align: left;
  margin: 13px 28px;
}

body {
  margin: 0;
}

.chat-nav {
  background-color: #6f42c1;
  width: 20%;
  height: var(--chat-height) ;
  float: left;
  overflow: hidden;
}

.chat-nav-item{
  color: #d2d2d2;
  text-decoration-style: solid;
  font-weight:500 ;
  font-size: medium ;
  transition: background 0.6s;
}

.chat-nav-item:hover {
  /* background: black;
  color: #d2d2d2; */

  background: #533390;
  
  border-radius: 5px ;
}

.chat-main {
  background-color: rgb(195, 195, 227);
  width: 80%;
  height:  var(--chat-height) ;
  float: right;
}

.chat-nav-body {
  background-color: brown;
}

#chat-nav-body ul {
  list-style: none;
  padding: 0;
}

#chat-nav-body li {
  padding: 15px 30px 15px;
}

/* .chat-nav-item {
  background: #333;
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

#chat-nav-body {
  overflow-y: auto;
  height: 100%;
}

