h1 {

    text-align: left;
    margin: 13px 28px;

}

body {
    margin: 0;
}

.chat-nav {
    background-color: red;
    width: 30%;
    height: 100vh;
    float: left
}

.chat-main {
    background-color: rgb(195, 195, 227);
    width: 70%;
    height: 100vh;
    float: right;

}

.chat-nav-body {
    background-color: brown;
}